# General
HOSTPULSE_SERVER_NAME=$HOSTNAME
HOSTPULSE_ENV_FILE=/opt/hostpulse/.env
HOSTPULSE_LOG_LEVEL=INFO
HOSTPULSE_LOG_FILE=/opt/hostpulse/logs/hostpulse.log

# Output files
HOSTPULSE_JSON_OUTPUT=/opt/hostpulse/output/users.json
HOSTPULSE_PROM_OUTPUT=

# Commands
HOSTPULSE_LVEINFO_COMMAND=lveinfo --period=1d --by-fault any -d --show-all --json
HOSTPULSE_PS_COMMAND=ps -eo user=,pcpu=,pmem=,nlwp=,rss=,pid=,comm=

# Maximum execution time for each command
HOSTPULSE_COMMAND_TIMEOUT_SECONDS=30

# Users that should not be evaluated
HOSTPULSE_IGNORED_USERS=root,daemon,bin,sys,sync,games,man,lp,mail,news,uucp,proxy,www-data,backup,list,irc,gnats,nobody,systemd-network,systemd-resolve,messagebus,systemd-timesync,sshd,chrony,apache,dovecot,mysql,named,splunkfwd,dbus,issh

# LVE thresholds - 24 hours
THRESHOLD_LVE_PMEMF_WARNING=50
THRESHOLD_LVE_PMEMF_CRITICAL=100

THRESHOLD_LVE_NPROCF_WARNING=10
THRESHOLD_LVE_NPROCF_CRITICAL=20

THRESHOLD_LVE_CPUF_WARNING=10
THRESHOLD_LVE_CPUF_CRITICAL=20

# Process thresholds - current snapshot
THRESHOLD_PROCESS_CPU_WARNING=300
THRESHOLD_PROCESS_CPU_CRITICAL=400

THRESHOLD_PROCESS_RSS_MB_WARNING=3072
THRESHOLD_PROCESS_RSS_MB_CRITICAL=4096

THRESHOLD_PROCESS_NPROC_WARNING=15
THRESHOLD_PROCESS_NPROC_CRITICAL=30

# Scoring weights
WEIGHT_LVE=5
WEIGHT_PROCESSES=3
